@charset "UTF-8";

/*media queries*/

/*Typical Device Breakpoints
----------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/
:root{
    --fonte-1: "Confortaa, sans serif";
}

@media screen and (min-width: 768px){

    *{
        margin: 0px;
        padding: 0px;
        height: auto;
        font-family: Arial, Helvetica, sans-serif;
    }

    html, body{
        height: 100vh;
        background-image: none;
        background-attachment: fixed;
        background-color: #010416;
    }

    header > h1{
        /*background-image: url(../img/drawingsemfundo.png);
        background-color: rgba(0, 255, 255, 0.075);
        background-size: 80px;
        text-align: center; 
        border-radius: 55px 35px 45px 20px;
        width: 50px;
        height: 50px;
        margin: 20vh auto 5vh auto;
        color: white;
        font-weight: bolder;
        font-size: 70px;
        font-family: var(--fonte-1);
        font-style: italic;
        margin-top: 15vh;
        padding: 40px 40px 48px 30px;*/


        background-color: rgba(1, 27, 27, 0.452);
        display: block;
        top: 15%;
        left: 72.5%;
        position: fixed; /*solucao encontrada para sobreposição do background .divisao*/
        margin-right: 100px;
    }

    .divisao{
        background-image: url("../img/foto_astronomia.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        
        width: 62.2%;
        height: 520px;

        border-radius: 0px 10px 10px 0px;

        box-sizing: border-box;
        display: block;
        position: relative;
        left: 50%;
        bottom: 31.3%;
    }

    /*para telas grandes*/
    .conteiner{
        
        background-color: #00030f;
        display: block;
        position: absolute;
        left: 50%;
        top:47%;
        
        transform: translate(-50%, -50%);
        
      
        /*width: 740px;*/
        width: 60vw;
        height: 320px;
        
        padding: 100px 50px 100px 100px;
        border-radius: 10px;
    }

    main{
    /*  formulário
        background-color: rgba(0, 255, 255, 0.075);
        display: block;
        margin: auto;
        padding: 20px;
        width: 200px;
        border-radius: 10px;

        margin-right: 70%;
        margin-top: 10%;
    */

        background-color: rgba(1, 27, 27, 0.452);
        position: absolute;
        top: 33%;
        left: 15%;
    }

    /*inputs apenas no mobile first*/

    nav#nav_grande{
        background-color:rgba(1, 27, 27, 0.452);
        border-radius: 10px;
    
        display: block;
        position: absolute;
    
        width: 120px;
        height: 50px;
    
        
        top: 100%;
        left: 50%;
        transform: translate(-50%, 30%);

        display: block;
        /*transform: translate(-50%, 50%);*/
    }

    footer{
        /*
        color:white;
        */
    
        /*cor de fundo
        background-image: linear-gradient(90deg, rgb(1, 71, 71), rgb(0, 29, 29));
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    
        /*design da borda
        border-radius: 20px;
        width: 450px;
        
        /*centralização
        display: block;
        position: absolute;
        text-align: center;
        top: 95%;
        left: 50%;
        transform: translate(-50%, 10%);*/

        /*design da borda*/
        background-image: linear-gradient(90deg, rgb(3, 36, 36), rgb(0, 15, 15));
        border-radius: 5px 20px 10px 20px;
        width: 300px;
    }
    
}