@charset "UTF-8";

/*Mobile first*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
/*
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/


:root{
    --fonte-1: "Comfortaa", sans serif;
    
}

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    background-color: white;
    background-image: url(../img/foto_astronomia.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: hidden;

}

/*label{
    display: block;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 10px;
}*/

header > h1{
    /*background-image: url(../img/drawingsemfundo.png);*/
    background-color: rgba(0, 255, 255, 0.075);
    background-size: 80px;
    text-align: center; 
    border-radius: 55px 35px 45px 20px;
    width: 50px;
    height: 50px;
    margin: 20vh auto 5vh auto;
    color: white;
    font-weight: bolder;
    font-size: 70px;
    font-family: var(--fonte-1);
    font-style: italic;
    margin-top: 15vh;
    padding: 40px 40px 48px 30px;
    
}

main{
    background-color: rgba(0, 255, 255, 0.075);
    display: block;
    margin: auto;
    padding: 20px;
    width: 200px;
    border-radius: 10px;

}

input{
    background-color: rgba(0, 0, 0, 0.521);
    color: white;
    display: block;
    margin: auto;
    border-radius: 10px;
    border-style: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.644);
}
input#iusu{
    /*margin-top: 40vh;*/
    margin-bottom: 5vh;
    padding: 10px;
}
input#isen{
    padding: 10px;
}
input::placeholder{
    font-weight: bolder;
    color: rgba(150, 150, 150, 0.719);
}


input#login{
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    font-weight: bold;
    background-color: rgba(90, 141, 85, 0.555);
    color: white;
}
input#login:hover{
    background-color: rgba(216, 56, 56, 0.479);
    cursor: pointer;
    transition: 0.3s;
}
nav{
    background-color:rgba(0, 255, 255, 0.164);
    border-radius: 10px;
    
    display: block;
    position: absolute;
    
    width: 120px;
    height: 50px;
    
    left: 50%;
    transform: translate(-50%, 30%);
}
/*serve para ocultar a nav do media para o mbfirst (erro técnico)*/
nav#nav_grande{
    display: none;

}

div#fac{
    /*imagem da div*/
    background-image: url(../img/facebook-icon.png);
    background-size: 48px;
    background-repeat: no-repeat;

    display: inline-block;
    
    /*centralização dentro do <nav>*/
    margin-left: 13px;
    margin-right: -10px;

    width: 46px;
    height: 50px;
}
div#fac:hover{
    cursor: pointer;
    position: sticky;

    transition: 1s;
    width: 48px;
    height: 58px;

}
div#github:hover{
    cursor: pointer;
    
    transition: 1s;
    width: 48px;
    height: 58px;
}
div#github{
    /*imagem da div*/
    background-image: url(../img/github-icon.png);
    background-size: 52px;
    background-repeat: no-repeat;

    display: inline-block;

    /*centralização dependente da div anterior*/

    width: 52px;
    height: 52px;
} 
footer{
    color:white;

    /*cor de fundo*/
    background-image: linear-gradient(90deg, #31a0d862, #7566b8);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    /*design da borda*/
    border-radius: 5px 20px 10px 20px;
    width: 380px;
    
    /*centralização*/
    display: block;
    position: absolute;
    text-align: center;
    top: 95%;
    left: 50%;
    transform: translate(-50%, 10%);
}